$blue: #a3d5d3;

body {
  background-color: gray;
  border: solid 2px
}

img{
  width: 500px;
  heigth: 200px
}
ul{
  text-align: center;
  list-style-position: inside;
}
.quote{
  font-size: 20px;
}

